body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat';
}
:root{
    --black: #000;
    --white: #fff;
    --main: #FF0000;
    --blackish: #707070;
    --offwhite: #F1EEEE;
}
a{
    text-decoration: none;
}
.hero{
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1)),
    url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100vw;
    margin-top: -80px;
}
.hero-wrapper{
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient( to right bottom,
    rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.3));
    box-shadow:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(.4rem);
    border-radius: 10px;
    margin-bottom: 50px;
}
.nav{
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    font-size: clamp(1rem, 3vw, 3rem);
}
.navbar{
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo,
.navbar_logo{
    width: 5vw;
}
.logo img,
.navbar_logo img{
    width: 100%;
}
.navbar_link{
    color: var(--black);
    text-decoration: none;
    padding: 0rem 1rem;
    margin: 20px 0;
    display: none;
}
.navbar_logo:hover,
.navbar_link:hover{
    transform: scale(1.05);
}
.cta{
    background: var(--black);
    color: var(--white);
    padding: 10px 20px;
}
@media screen and (max-width: 800px) {
    body.active{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .navbar{
        display: flex;
        justify-content: space-evenly;
    }
    .navbar_link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: -1000px;
    }
    .navbar_menu.active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--white);
    }
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--black);
        display: block;
        cursor: pointer;
    }
    #mobile-menu{
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .hero{
        text-align: center;
    }
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: clamp(5rem, 10vw, 7rem);
    font-weight: bold;
}
.card-title{
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
    color: var(--white);
}
label{
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 10px 0;
}
.label{
    margin-bottom: 10px;
}
.btn{
    background: var(--main);
    margin: 50px 0;
    width: 20vw;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    font-size:1rem;
    cursor: pointer;
}
.input{
    width: 50vw;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
}
input::placeholder{
    color: var(--blackish);
}
.password,
.signup{
    color: var(--white);
}
.signup{
    font-size: 1.5rem;
    font-weight: bold;
}
.main{
    display: flex;
}
.sidebar{
    display: none;
}
.main-content{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.forum-post,
.forum{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--black);
}
.menu:hover,
.logo:hover,
.sidebar ul li:hover,
.comment-btn:hover,
.btn:hover,
.post:hover{
    transform: scale(1.05);
}
.buttn:hover{
    background: var(--main);
}
.forum-post:hover{
    transform: scale(1.01);
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-weight: bold;
}
.user-img{
    width: 8vw;
    margin-right: 20px;
}
.forum-img{
    display: flex;
}
.img{
    width: 50%;
}
.fimg{
    width: 100%;
}
.interactions{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.interactions img{
    width: 3vw;
    margin-right: 50px;
}
.footer{
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding:20px 0;
}
form{
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
form label{
    color: var(--black);
    font-weight: bold;
    font-size: 1.2rem;
}
form input{
    height: 50px;
    border-radius: 10px;
    margin: 20px 0;
    margin-left: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}
.buttn{
    width: 25vw;
    border: none;
    background: var(--black);
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}
#forum{
    border: 2px solid var(--black);
    margin: 20px;
}
.comment{
    margin: 20px 0;
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment-details{
    margin-bottom: 20px;
}
.comment-input{
    margin-bottom: 20px;
    height: 50px;
    width: 70vw;
}
.comment-btn{
    width: 20vw;
    padding: 10px;
    border: none;
    background: var(--black);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.comment-input::placeholder{
    color: var(--blackish);
    font-size: 1rem;
    padding-left: 20px;
}
.page-title{
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
    text-align: center;
}
.profile-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-input{
    width: 70vw;
}
.notifications{
    padding: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 2px solid var(--black);
    margin: 20px 50px;
}
.notification{
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
}
.notification:hover{
    transform: scale(1.01);
}
@media screen and (min-width: 800px) {
    .main{
        padding: 0.5rem calc((100vw - 1200px) / 2);
    }
    #nav{
        background: var(--white);
        z-index: 999;
        position: fixed;
    }
    .navbar{
        width: 100vw;
    }
    .sidebar{
        display: block;
        margin-top: 10vw;
        padding: 50px;
        position: fixed;
    }
    .main-content{
        margin-left: 30vw;
        margin-top: 50px;
        padding: 50px;
    }
    .notifications,
    #forum{
        margin-left: 30vw;
        margin-top: 100px;
        padding: 50px;
    }
    #main .sidebar{
        margin-top: -25vw !important;
    }
    .sidebar ul li{
        display: flex;
        align-items: center;
        list-style: none;
        list-style: none;
        margin-bottom: 50px;
    }
    .sidebar ul li a{
        display: flex;
        align-items: center;
    }
    .side-icon{
        width: 3vw;
        height: 3vw;
        margin-right: 50px;
    }
    .sidebar p{
        font-size: 1rem;
        color: var(--black);
    }
    .post{
        font-weight: bold;
        background: var(--black);
        color: var(--white);
        position: relative;
        text-align: center;
        padding:10px 50px;
    }
    .hero-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .title{
        margin-right: 100px;
    }
    .action{
        width: 40vw;
    }
    .profile-input,
    .comment-input,
    .input{
        width: 30vw;
    }
    .wrapper{
        padding: 20px 100px;
    }
    .comment-btn,
    .btn,
    .buttn{
        width: 200px;
    }
    .comment-btn{
        margin-bottom: 50px;
    }
}